/scenarionet.egg-info/
*.pyc
*.egg-info
/.idea/
*.glf
*.rar
/docs/build/
/docs/.idea/
/build/
/dist/
/documentation/build/
dataset/*
**/combine/
**.json

**.log
**/tmp/**
**/failed_scenarios/
**/passed_scenarios/
**/waymo_origin
/dataset/
/scenarionet_training/wandb/*.pkl
**/TEST/
**/experiment/
**/wandb/
/tutorial/*.gif
/tutorial/.ipynb_checkpoints/
/scenarionet/tests/waymo_raw
/scenarionet/tests/waymo_test_data/
